<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kouhigh自动化测试</title>
</head>
<body>
<ul class="nav navbar-nav navbar-right">
    <li>欢迎您,<a href="#">{{ user }}</a> </li>
    <li><a href="/logout/">退出</a></li>
</ul>
</body>
</html>