<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AutotestPlat</title>
    <style> body{text-align: center} </style>
</head>
<body>

<div>

<font size="1">
    <h1>Kouhigh自动化测试平台</h1>
</font>

<form method="post" action="login">
    {% csrf_token %}
    <br><a>&nbsp;&nbsp;用户名</a> <input name="username" type="text" placeholder="kh">
    <br><a>&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;码</a> <input name="password" type="password" placeholder="nbspore666">
    <br>{{ error }}<br>
    &nbsp;<br> <button style="width:220px;height: 28px" id="submit" type="submit">登录</button>
</form>
</div>

</body>
</html>